.dashboard {
    grid-area: dashboard;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.container {
    background-color: var(--clr-background);
    width: 250px;
    height: 350px;
    border-radius: var(--radius-2);
    color: var(--text-light);
}

.container h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}

.link-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70%;
    row-gap: 13px;
    overflow-y: scroll;
}

.link {
    display: flex;
    padding: 5px;
    background-color: var(--clr-background-2);
    width: 220px;
    height: 50px;
    border-radius: var(--radius-2);
    color: var(--text-light);
    position: relative;
}

.link a {
    font-size: 2rem;
    text-decoration: none;
    color: inherit;
    overflow-x: hidden;
    max-width: 65%;
}

.link img {
    max-width: 30px;
    height: 30px;
    margin: auto 10px auto 5px ;
}

.fa-circle-minus {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
    margin-top: 5px;
}

a:visited {
    color: var(--text-light);
}

.addlink-btn, .dogs-btn {
    margin: auto;
    height: 30px;
    width: 90px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    margin-top: 5px;
}

.weather-list {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    row-gap: 5px;
    height: 80%;
}

.weather {
    background-color: var(--clr-background-2);
    width: 90%;
    height: 90px;
    border-radius: var(--radius-2);
}

.weather h2 {
    height: 15px;
    text-decoration: underline;
}

.weather-design {
    display: flex;
}

.weather-design {
    display: flex;
    margin-top: 5px;
    font-size: 0.9rem;
}

.text {
    font-weight: bold;
}

.weather-text {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.weather h4 {
    margin-top: 20px;
}

.weather-info {
    position: absolute;
    margin-left: 135px;
    margin-top: 35px;
}

.location-input {
    display: block;
    margin: auto;
    margin-top: 15px;
}

.dogs-list {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    row-gap: 5px;
    height: 70%;
}

.fa-toggle-on {
    font-size: 1.5rem;
    transform: rotate(180deg);
}

.dogs {
    width: 90%;
    height: 240px;
    overflow: hidden;
}

.dogs img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.dogs-btn {
    width: 70px;
}

.breeds-dropdown {
    display: block;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    background-color: var(--clr-background-3);
    border: 2px solid black;
    border-radius: 0.2rem;
    color: var(--text-light);
    height: 25px;
    width: 150px;
}

.select option:hover {
    background-color: var(--clr-background-2);
    color: red;
}

.note {
    resize: none;
    width: 90%;
    height: 80%;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    display: block;
    margin: auto;
    padding: 5px;
    background-color: var(--clr-background-2);
    color: var(--text-light);
    border-radius: var(--radius-2);
    text-transform: none;
}