nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.help-btn {
    position: fixed;
    font-size: 1.3rem;
    top: 20px;
    left: 10px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.clock {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 2px;
    width: 250px;
    height: 25px;
    background-color: var(--clr-background-3);
    border-radius: var(--radius);
    color: var(--text-light);
}