@import url(/src/style/nav.css);
@import url(/src/style/header.css);
@import url(/src/style/main.css);
@import url(/src/style/footer.css);

:root {
    --clr-background: #1c1c1eae;
    --clr-background-2: #0f0f10;
    --clr-background-3: #1c1c1e;
    --clr-background-4: #97979b;
    --text-light: #FFFFF0;
    --text-light-2: #FFFFFF;
    --text-dark: #1c1c1e;
    --radius: 2rem;
    --radius-2: 0.6rem;
    --spacing: 0.15rem;
    --ff-primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

::selection {
    background-color: var(--text-light);
    color: var(--text-dark);
}

::-moz-selection {
    background-color: var(--text-light);
    color: var(--text-dark);
}

::-webkit-scrollbar {
    background-color: var(--clr-background-2);
    width: 5px;
    border-radius: var(--radius-2);
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr-background-4);
    border-radius: var(--radius-2);
}

body {
    background-image: url(/src/assets/placeholder.avif);
    font-family: var(--ff-primary);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template:
    "nav" 10vh
    "header" 25vh
    "dashboard" 50vh
    "footer" 15vh;
}

.help-window {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 620px;
    outline: none;
    border-radius: var(--radius-2);
    border: none;
    background-color: var(--clr-background-2);
    color: var(--text-light);
}

.help-window::backdrop {
    background-color: #4d4b4b;
    opacity: 0.8;
}

.help-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 2rem;
    color: var(--text-light);
}

.help-window h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
    color: var(--text-light);
}

.help-window li {
    font-size: 1.5rem;
    margin: 10px 20px 0 20px;
    background-color: var(--clr-background-3);
    border-radius: var(--radius-2);
    padding: 5px;
    list-style-type: none;
}

.help-window p {
    font-size: 1rem;
    text-transform: none;
}

button {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    background-color: var(--clr-background-3);
    border: 2px solid black;
    border-radius: var(--radius-2);
    color: var(--text-light);
    outline: none;
}

button:active {
    background-color: var(--clr-background-2);
}

.fa-solid {
    cursor: pointer;
}

input {
    text-align: center;
    background-color: var(--clr-background-3);
    border: 2px solid black;
    border-radius: 0.2rem;
    color: var(--text-light);
    height: 25px;
    outline: none;
    text-transform: none;
}

.location-input::placeholder, .category-input::placeholder {
    color: white;
    opacity: 1;
}

.fa-spinner {
    animation: spin 2s linear infinite;
    display: block;
    margin: 20px auto 0 auto;
    font-size: 2rem;
    cursor: default;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 450px) {
    body {
        grid-template:
        "nav" auto
        "header" auto
        "dashboard" auto
        "footer" auto;
    }

    .header-title {
        font-size: 3.5rem;
        width: 100%;
    }

    .dashboard {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .weather-container, .dogs-container {
        margin-bottom: 20px;
    }

    .background-btn {
        margin-top: 20px;
    }
}